<!-- phpunit.xml -->
<!-- This configuration tells PHPUnit to run tests in the current directory and its subdirectories.-->

<phpunit colors="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Exercism.php">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>